@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to the To Do List!</h2>

<p>@Html.ActionLink("Check out the List", "Index", "Items")</p> 
<p>@Html.ActionLink("Create a category", "Index", "Categories")</p>